@model IEnumerable<Garage25.Model.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Park Car", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by RegistrationNumber: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    <p>
        Find by VehicleType: @Html.TextBox("SearchString2")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WheelCount)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ParkTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
       @*<td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WheelCount)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ParkTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleId })
        </td>
    </tr>
}

</table>
